body, html {
  margin: 80;
  background-color: black;
  width: 100%;
  height: 100%;
}
html {
  background-color: black;
}

.App {
  /* margin-top: 10%; */
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  background-color: black;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.nqbutton {
  margin: 20px;
}

h2 {
  color: darkgreen;
  padding-top: 80px;
  /* border-top: 30px; */
}
